body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 50px; 
    height: auto;
}

.site-name {
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
}

.icon {
    max-width: 30px; 
    height: auto;
    margin-left: 10px;
    cursor: pointer;
}

main {
    padding: 20px;
}

.info {
	background-color: #eaeff3;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
	background-color: #fff;
}

.my-float {
	margin-top: 16px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}


.product-item {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 150%; 
    max-width: 150px;
    height: auto; 
    margin: 0 auto; 
    padding-bottom: 15px;
    display: block; 
}

.product-name {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-description {
    color: #666;
    font-size: 0.9em;
}

.product-price {
    color: #333;
    font-size: 1.1em;
    margin: 5px 0;
}

.product-sizes {
    font-size: 0.9em;
    margin: 5px 0;
}

img.agregar-a-deseos {
    transition: transform 0.3s ease;
}

img.agregar-a-deseos:hover {
    transform: scale(1.1); 
}

